/* General Formatting */
html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}


/* Header Section */
header .content {
  display: flex;
  align-items: center;
  height:4rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: white;
}

header nav ul {
  display: flex;
}

nav li {
  padding-left: 1rem;
}

nav a {
  vertical-align: bottom;
  line-height: 1.6;
  font-size: 1rem;
  color: #4a4a4a;
}

header .mobile {
  display: none;
}

header .logo{
  display: flex;
  align-items: center;
  height:2rem;
  flex: 1;
}
header .colmar{
  font-weight: 600;
}


/* Sign Up Section */
#sign-up-content {
  background-color: #D3D3D3;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#sign-up-content img {
  max-width: 60%;
  padding: 2rem 1.5rem;
}

.content-center{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 32.5rem;
  padding-left: 3rem;
  flex-grow: 1
}

.content-center h1{
  font-size: 3.5rem;
  font-weight: 800;
  color:#3a3a3a;
}
.content-center h2{
  font-size: 2rem;
  font-weight: 400;
  padding: 2rem 0;
  color:#3a3a3a;
}

.sign-up-button :hover{
  background-color: #310454;
}

.button-content{
  background-color:#3a3a3a;
  padding: 0.5rem 0;
  text-align: center;
  transition: all 750ms linear;
  color:white;
  font-size: 1.5rem;
}



/* News Section */
#news-content{
  display: flex;
  flex-direction:row;
}

.news-section {
  display: flex;
}

.headline {
    max-width: 60%;
    padding: 2rem 1.5rem;
}

.headline img {
    max-width: 100%;
}

.headline h1{
  padding-top: 2rem;
  font-size: 2.5rem;
  font-weight: 800;
  color:#3a3a3a;
}

.headline h2 {
  padding: 24px 24px 24px 0px;
  line-height: 1.4;
  font-size: 1.2rem;
  color:#3a3a3a;
}
.headline p {
  padding-top: 1rem;
  color: black;
}

.news-section .news-articles {
  border-left: 1px solid #DCDCDC;
  padding: 1rem 0 2rem 0;
}

.info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.desktop-image {
  width: 35%;
  padding: 16px;
}

.mobile-image {
  display: none;
}

.text {
  padding: 16px 1px 16px 0px;
  width: 100%;
  line-height: 1.4;
}

.text h3 {
  font-size: 2.2rem;
  font-weight: 600;
  color:#3a3a3a;
}

.text p {
  padding-top: 8px;
  font-size: 1.2rem;
  color:#3a3a3a;
  max-width:95%;
}

.text a p {
  color: #4ba3f4;
  font-size: 1.2rem;
  display: block;
  padding-top: .9rem;
}

.second-info {
  border-top: 1px solid #DCDCDC;
  border-bottom: 1px solid #DCDCDC;
}

.text a :hover {
  color:#77b9f6;
  text-decoration: underline;
}

.article :hover{
  background-color: #dbdbdb;
}



/* Course Section */
.courses{
  padding: 2rem 4.5rem;
  background-color: #D3D3D3;
  margin: 0 auto;
}

.courses-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  z-index: 1;
}

.courses h1{
  text-align: center;
  padding-bottom: 2rem;
  font-size: 2.5rem;
  font-weight: 800;
  color:#3a3a3a;
  max-width:100%;
}

.course h3 {
  font-size: 1.8rem;
  font-weight: 600;
  color:#3a3a3a;
}

.course p {
  padding-top: 0.5rem;
  font-size: 1.2rem;
  line-height: 1.4;
  color:#3a3a3a;
  max-width:90%;
  width: 400px;
  transition: all 0.3s;
}

.course{
  background-color: white;
  margin: 2rem;
  width: 25%;
  overflow: hidden;
}

.course img{
  max-width: 100%;
  transition: all 0.3s linear;
}

.course :hover img{
  transform: scale(1.1);
}
.course :hover h3{
  color: #A9A9A3;
}

.course-text {
  padding: 1rem 0 1rem 1.5rem;
  width: 100%;
}


/* Thesis Section */
.main-thesis video{
  max-width: 100%;
}

.thesis h1{
  text-align: center;
  padding: 2rem 0;
  font-size: 2.5rem;
  font-weight: 800;
  color:#3a3a3a;
  max-width:100%;
}

.thesis-section {
  display: flex;
}

.main-thesis {
    max-width: 60%;
    padding: 2rem 1.5rem;
}

.main-thesis img {
    max-width: 100%;
}

.main-thesis h1{
  padding-top: 2rem;
  font-size: 2.5rem;
  font-weight: 800;
  color:#3a3a3a;
  text-align: left;
}

.main-thesis h2 {
  padding: 24px 24px 24px 0px;
  line-height: 1.4;
  font-size: 1.2rem;
  color:#3a3a3a;
}
.main-thesis p {
  padding-top: 1rem;
  color: black;
}

.thesis-section .other-thesis {
  padding: 1rem 0 2rem 0;
}

.mobile {
  display: none;
}

.ind-thesis :hover{
  background-color: #dbdbdb;
}


/* Footer Section */
.footer-content{
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  border-top: 1px solid #DCDCDC;
}

.footer-content nav ul{
  display: flex;
  padding-right: 1rem;
}



/* Mobile Formatting */
@media only screen and (max-width: 1080px) {
/* Header Section */
  header .content .logo{
    display: none;
  }
  .content .desktop{
    display: none;
  }
  .content .mobile{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
  }
/* Sign-up-Section */
  #sign-up-content{
    flex-direction: column;
  }
  #sign-up-content img{
    max-width: 95%;
  }
  .sign-up-button{
    width: 90%;
    margin: 2rem 0;
  }

  /* News Section */
  .headline{
    display: none;
  }
  .desktop-image{
    display: none;
  }
  .mobile-image{
    display:flex;
  }
  .info{
    display: block;;
  }
  .news-section{
    justify-content: center;
    padding: 1rem;
  }
  .second-info{
    border: none;
  }
  .news-section .news-articles{
    border: none;
  }
  .article :hover {
    background-color: rgba(0, 0, 0, 0);
  }

  /* Course Section */
  .course img{
    display: none;
  }
  .course-text p{
    display: none;
  }
  .courses-container{
    display: block;
  }
  .course{
    width: 100%;
    margin:0.5rem;
  }
  .course :hover h3{
    color: #A9A9A3;
  }
  /* Thesis Section */
  .main-thesis h1, h2{
    display: none;
  }
  .other-thesis{
    display: none;
  }
  .thesis-section{
    justify-content: center;
  }
  .thesis h1{
    padding-top: 2rem;
    padding-bottom: 1rem;
  }
  .main-thesis{
    margin-bottom: 1.5rem;
    max-width: 100%;
  }
  /* Footer Section */
  footer nav{
    display: none;
  }
}
